@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

#navbar-menu {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
}
