<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" translate>APP_NAME</a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div *ngIf="!isLoggedIn">
          <button mat-raised-button (click)="btnLoginClick()">Login</button>
        </div>
        <div class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon style="color: white">account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>{{ userFullname }}</span>
            </button>
            <button mat-menu-item>
              <span>{{ userName }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </nav>
</header>
